<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd   
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/security 
    http://www.springframework.org/schema/security/spring-security.xsd       
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task.xsd">
 <context:component-scan base-package="com.sarthak.spring"></context:component-scan>
	<mvc:annotation-driven/>
 <tx:annotation-driven />

	
	
	<mvc:resources mapping="/WebContent/views/images" location="/WebContent/views/images" />
	
	
	<!-- <bean class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		id="sarthakDS">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/mySpringDB" />
		<property name="username" value="root" />
		<property name="password" value="root" />
		
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sarthakSessionFactory" />
	</bean>

	<bean
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="sarthakSessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="sarthakDS" />
		<property name="annotatedClasses">
			<list>
				<value>com.first.web.database.SarthakSignup</value> 
			
			</list>
		</property>

		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQL5Dialect
				hibernate.show_sql=false
				hibernate.format_sql=false
			</value>
			
		</property>
	</bean> -->
	
</beans>
